
footer.footer-text{
  padding: 2rem;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div{
  font-size: 0.9rem;
}

footer div a{
  color: lightblue;
}